# eclipse project files
**/.project
**/.classpath
**/.settings/

# where tasks store binary tools (e.g. kind, kubectl, etc.)
/.tools/

# where you can store your temporary local files
/work_dir/
/tmp/

# java build files
**/target/