version: "3"

description: Taskfile for installing and managing Prometheus and Grafana monitoring stack with authentication.

vars:
  MONITORING_NS: "tier-3"
  PROMETHEUS_RELEASE: "prometheus"
  GRAFANA_RELEASE: "grafana"
  OPENSEARCH_RELEASE: "opensearch"

includes:
  tools:
    taskfile: ./tools.yaml
    internal: true

tasks:
  add-helm-repos:
    desc: Add Prometheus, Grafana, and OpenSearch Helm repositories.
    deps:
      - task: tools:install-helm
    requires:
      vars: [ HELM_CMD ]
    status:
      - "{{ .HELM_CMD }} repo list | grep -q prometheus-community"
      - "{{ .HELM_CMD }} repo list | grep -q grafana"
      - "{{ .HELM_CMD }} repo list | grep -q opensearch"
    cmds:
      - "{{ .HELM_CMD }} repo add prometheus-community https://prometheus-community.github.io/helm-charts"
      - "{{ .HELM_CMD }} repo add grafana https://grafana.github.io/helm-charts"
      - "{{ .HELM_CMD }} repo add opensearch https://opensearch-project.github.io/helm-charts/"
      - "{{ .HELM_CMD }} repo update"

  # TODO: reuse existing instance: https://p-msp06--otel-audit-log.ingress.seed-ha-1.seed.gardener.cc-one.showroom.apeirora.eu/
  install-prometheus:
    desc: Install Prometheus using Helm with authentication enabled.
    deps:
      - task: add-helm-repos
    requires:
      vars: [ HELM_CMD, MONITORING_NS, PROMETHEUS_RELEASE ]
    preconditions:
      - sh: "{{ .KUBECTL_CMD }} cluster-info >/dev/null 2>&1"
        msg: "Please ensure that you have a k8s-cluster running. Try:\ttask cluster:start"
    status:
      - '{{ .HELM_CMD }} list --namespace {{ .MONITORING_NS }} -o json | jq -r ''.[] | select(.name=="{{ .PROMETHEUS_RELEASE }}") | .status'' | grep -q deployed'
    cmds:
      - |
        {{ .HELM_CMD }} install {{ .PROMETHEUS_RELEASE }} prometheus-community/prometheus \
          --namespace {{ .MONITORING_NS }} --create-namespace \
          --values {{ .ROOT_DIR }}/helm/prometheus-overrides.yaml \

  install-grafana:
    desc: Install Grafana using Helm with authentication enabled.
    deps:
      - task: add-helm-repos
    requires:
      vars: [ HELM_CMD, MONITORING_NS, GRAFANA_RELEASE ]
    preconditions:
      - sh: "{{ .KUBECTL_CMD }} cluster-info >/dev/null 2>&1"
        msg: "Please ensure that you have a k8s-cluster running. Try:\ttask cluster:start"
    status:
      - '{{ .HELM_CMD }} list --namespace {{ .MONITORING_NS }} -o json | jq -r ''.[] | select(.name=="{{ .GRAFANA_RELEASE }}") | .status'' | grep -q deployed'
    cmds:
      - |
        {{ .HELM_CMD }} install {{ .GRAFANA_RELEASE }} grafana/grafana \
          --namespace {{ .MONITORING_NS }} --create-namespace \
          --values {{ .ROOT_DIR }}/helm/grafana-overrides.yaml

  install-opensearch:
    desc: Install OpenSearch using Helm.
    deps:
      - task: add-helm-repos
    requires:
      vars: [ HELM_CMD, MONITORING_NS, OPENSEARCH_RELEASE, OPENSEARCH_INITIAL_ADMIN_PASSWORD ]
    preconditions:
      - sh: "{{ .KUBECTL_CMD }} cluster-info >/dev/null 2>&1"
        msg: "Please ensure that you have a k8s-cluster running. Try:\ttask cluster:start"
    status:
      - '{{ .HELM_CMD }} list --namespace {{ .MONITORING_NS }} -o json | jq -r ''.[] | select(.name=="{{ .OPENSEARCH_RELEASE }}") | .status'' | grep -q deployed'
    cmds:
      - |
        OVERRIDE=$(mktemp -u) # create new temp file, use yq to set password
        yq e ".extraEnvs[0].value = \"$OPENSEARCH_INITIAL_ADMIN_PASSWORD\"" {{ .ROOT_DIR }}/helm/opensearch-overrides.yaml > $OVERRIDE
        {{ .HELM_CMD }} install {{ .OPENSEARCH_RELEASE }} opensearch/opensearch \
          --namespace {{ .MONITORING_NS }} --create-namespace \
          --values $OVERRIDE
        rm -f $OVERRIDE

  install:
    desc: Install complete monitoring stack (Prometheus and Grafana).
    deps:
      - task: install-opensearch
      - task: install-prometheus
      - task: install-grafana
    cmds:
      - echo "Monitoring stack installed successfully!"
      - echo "OpenSearch - {{ .OPENSEARCH_RELEASE }} in namespace {{ .MONITORING_NS }}"
      - echo "Prometheus - {{ .PROMETHEUS_RELEASE }} in namespace {{ .MONITORING_NS }}"
      - echo "Grafana - {{ .GRAFANA_RELEASE }} in namespace {{ .MONITORING_NS }}"

  status:
    desc: Check the status of monitoring components.
    deps:
      - task: tools:install-helm
    requires:
      vars: [ HELM_CMD, MONITORING_NS ]
    cmds:
      - echo "=== Helm Releases in {{ .MONITORING_NS }} namespace ==="
      - "{{ .HELM_CMD }} list -n {{ .MONITORING_NS }}"
      - echo ""
      - echo "=== Pods in {{ .MONITORING_NS }} namespace ==="
      - "{{ .KUBECTL_CMD }} get pods -n {{ .MONITORING_NS }}"
      - echo ""
      - echo "=== Services in {{ .MONITORING_NS }} namespace ==="
      - "{{ .KUBECTL_CMD }} get svc -n {{ .MONITORING_NS }}"

  upgrade-prometheus:
    desc: Upgrade Prometheus installation.
    deps:
      - task: add-helm-repos
    requires:
      vars: [ HELM_CMD, MONITORING_NS, PROMETHEUS_RELEASE ]
    cmds:
      - |
        {{ .HELM_CMD }} upgrade {{ .PROMETHEUS_RELEASE }} prometheus-community/prometheus \
          --namespace {{ .MONITORING_NS }} \
          --values {{ .ROOT_DIR }}/helm/prometheus-overrides.yaml

  upgrade-grafana:
    desc: Upgrade Grafana installation.
    deps:
      - task: add-helm-repos
    requires:
      vars: [ HELM_CMD, MONITORING_NS, GRAFANA_RELEASE ]
    cmds:
      - |
        {{ .HELM_CMD }} upgrade {{ .GRAFANA_RELEASE }} grafana/grafana \
          --namespace {{ .MONITORING_NS }} \
          --values {{ .ROOT_DIR }}/helm/grafana-overrides.yaml \

  upgrade-opensearch:
    desc: Upgrade OpenSearch installation.
    deps:
      - task: add-helm-repos
    requires:
      vars: [ HELM_CMD, MONITORING_NS, OPENSEARCH_RELEASE, OPENSEARCH_INITIAL_ADMIN_PASSWORD ]
    cmds:
      - |
        OVERRIDE=$(mktemp -u) # create new temp file, use yq to set password
        yq e ".extraEnvs[0].value = \"$OPENSEARCH_INITIAL_ADMIN_PASSWORD\"" {{ .ROOT_DIR }}/helm/opensearch-overrides.yaml > $OVERRIDE
        {{ .HELM_CMD }} upgrade {{ .OPENSEARCH_RELEASE }} opensearch/opensearch \
          --namespace {{ .MONITORING_NS }} \
          --values $OVERRIDE
        rm -f $OVERRIDE

  upgrade:
    desc: Upgrade complete monitoring stack.
    deps:
      - task: upgrade-opensearch
      - task: upgrade-prometheus
      - task: upgrade-grafana
    cmds:
      - echo "Monitoring stack upgraded successfully!"

  uninstall-prometheus:
    desc: Uninstall Prometheus.
    deps:
      - task: tools:install-helm
    requires:
      vars: [ HELM_CMD, MONITORING_NS, PROMETHEUS_RELEASE ]
    status:
      - "! {{ .HELM_CMD }} list --namespace {{ .MONITORING_NS }} | grep -q {{ .PROMETHEUS_RELEASE }}"
    cmds:
      - "{{ .HELM_CMD }} uninstall {{ .PROMETHEUS_RELEASE }} -n {{ .MONITORING_NS }} --ignore-not-found"

  uninstall-grafana:
    desc: Uninstall Grafana.
    deps:
      - task: tools:install-helm
    requires:
      vars: [ HELM_CMD, MONITORING_NS, GRAFANA_RELEASE ]
    status:
      - "! {{ .HELM_CMD }} list --namespace {{ .MONITORING_NS }} | grep -q {{ .GRAFANA_RELEASE }}"
    cmds:
      - "{{ .HELM_CMD }} uninstall {{ .GRAFANA_RELEASE }} -n {{ .MONITORING_NS }} --ignore-not-found"

  uninstall-opensearch:
    desc: Uninstall OpenSearch.
    deps:
      - task: tools:install-helm
    requires:
      vars: [ HELM_CMD, MONITORING_NS, OPENSEARCH_RELEASE ]
    status:
      - "! {{ .HELM_CMD }} list --namespace {{ .MONITORING_NS }} | grep -q {{ .OPENSEARCH_RELEASE }}"
    cmds:
      - "{{ .HELM_CMD }} uninstall {{ .OPENSEARCH_RELEASE }} -n {{ .MONITORING_NS }} --ignore-not-found"

  uninstall:
    desc: Uninstall complete monitoring stack.
    deps:
      - task: uninstall-prometheus
      - task: uninstall-grafana
      - task: uninstall-opensearch
    cmds:
      - echo "Monitoring stack uninstalled successfully!"
