version: "3"

description: Taskfile for deploying the OTel Collector agent setup with local filesystem-based persistence.

vars:
  OTELCOL_AGENT_NS: "tier-2"

includes:
  tools:
    taskfile: ./tools.yaml
    internal: true
  cluster:
    taskfile: ./cluster.yaml
    internal: true

tasks:
  install:
    desc: Deploy the OpenTelemetry Collector agent setup.
    run: once
    deps:
      - task: tools:install-kubectl
      - task: cluster:install
    requires:
      vars: [KUBECTL_CMD, OTELCOL_AGENT_NS]
    preconditions:
      - sh: "{{ .KUBECTL_CMD }} cluster-info >/dev/null 2>&1"
        msg: "Please ensure that you have a k8s-cluster running. Try:\ttask garden:set-kubeconfig"
    status:
      - "{{ .KUBECTL_CMD }} get ns {{ .OTELCOL_AGENT_NS }} >/dev/null 2>&1"
    cmds:
      - "{{ .KUBECTL_CMD }} apply -f kubectl/tier-2.yaml -n {{ .OTELCOL_AGENT_NS }}"

  upgrade:
    desc: Upgrade the OpenTelemetry Collector agent setup.
    deps:
      - task: tools:install-kubectl
      - task: cluster:install
    requires:
      vars: [KUBECTL_CMD, OTELCOL_AGENT_NS]
    preconditions:
      - sh: "{{ .KUBECTL_CMD }} cluster-info >/dev/null 2>&1"
        msg: "Please ensure that you have a k8s-cluster running. Try:\ttask garden:set-kubeconfig"
    cmds:
      - "{{ .KUBECTL_CMD }} apply -f kubectl/tier-2.yaml -n {{ .OTELCOL_AGENT_NS }}"
      - echo "OpenTelemetry Collector agent setup upgraded successfully!"

  uninstall:
    desc: Delete the OpenTelemetry Collector agent setup.
    deps:
      - task: tools:install-kubectl
    requires:
      vars: [KUBECTL_CMD, OTELCOL_AGENT_NS]
    status:
      - "! {{ .KUBECTL_CMD }} get ns {{ .OTELCOL_AGENT_NS }} >/dev/null 2>&1"
    cmds:
      - "{{ .KUBECTL_CMD }} delete -f kubectl/tier-2.yaml -n {{ .OTELCOL_AGENT_NS }} --ignore-not-found"
      - echo "OpenTelemetry Collector agent setup deleted successfully!"
