name: build clients

on:
  pull_request:
    branches: [main]
    paths:
      - "src/**"

jobs:
  # test locally with: `act -s GITHUB_TOKEN=$(gh auth token) --env github.actor=$USER`
  # get 'act': https://nektosact.com/installation/index.html
  build-clients:
    name: Build clients
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: run task clients:build
        run: task clients:build
