name: Lint code

on:
  pull_request:
    paths:
      - "**/*.md"
      - "**/*.json"
      - "**/*.yaml"
      - "**/*.yml"
      - "**/*.go"
      - "**/*.java"
  push:
    branches: [main]
    paths:
      - "**/*.md"
      - "**/*.json"
      - "**/*.yaml"
      - "**/*.yml"
      - "**/*.go"
      - "**/*.java"

jobs:
  code-lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Do some linting
        run: task code:lint
