name: Spell Check

on:
  pull_request:
    paths:
      - "**/*.md"
      - "**/*.txt"
      - "**/*.html"
  push:
    branches: [main]
    paths:
      - "**/*.md"
      - "**/*.txt"
      - "**/*.html"

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Check spelling
        run: task code:spellcheck
